<!DOCTYPE html>
<html>
<head>
    <title>{{ title(title) }}</title>
    <link rel="stylesheet" type="text/css" href={{ asset('css/styles.css') }}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% block header %}{% endblock %}

{% block content %}{% endblock %}

<script src="https://kit.fontawesome.com/ba027b69cd.js" crossorigin="anonymous"></script>

</body>
</html>